*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: black;
    color: chocolate;
    padding: 15px;
}
.titulo{
    background: yellow;
    text-align: center;
    width: 100%;
    height: auto;
    
}
.titulo h1{
    font-size: 35px;
    text-decoration: underline;
    padding: 15px;
    text-align: center;
}

/**/

.galeria {
    margin: 20px;
    border: 4px solid yellow;
    float: left;
    width: 450px;
    
    
  }
     
  .galeria img {
    width: 100%;
    height: auto;
    
  }
  
  .descripcion {
    padding: 15px;
    text-align: center;
    font-size: 28px;
    background: gray;
    color: black;
  }

  .boton-reg{
    background-color: #4CAF50; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 45%;
    margin-top: 25px;
    margin-bottom: 25px;
}